@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&family=Lato:wght@300&family=Mukta:wght@200&family=Open+Sans:wght@300&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;

}

.sidebar{
    background-color:gainsboro;
    width: 134px;
    font-family: 'Roboto Slab', serif;
     height: 100vh;


}
.sidebar nav{
    padding: 20px;
}
.sidebar nav li{
    list-style: none;
    font-size: 16px ;
    padding: 20px 0 ;
    font-weight: bolder;

}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
    
    
}
.container{
    display: flex;
}
.info{
    /* background-color: green; */
    height: 84vh;
    width: 80vw;
    margin: 55px  auto;
    display: flex;
    justify-content: space-around;


}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 22px;
    font-family: 'Roboto Slab', serif;
}

.hello{
    font-size: 40px;
    align-items: center;
    /* padding: 2px; */
}
.name{
    font-size:30px;
    font-weight: bold;
    /* padding: 2px; */
}
.about{
    font-size: 20px ;
    /* padding: 2px; */

}
.moreabout{
    font-size: 15px ;
    font-weight: bold;
    margin-top: 4px;
}

.Devpic img{
    width: 435px;
    height:84vh;

}
.buttons{
    margin-top: 22px;
}

.buttons button{
    padding:5px 10px ;
    border-radius: 14px;
    
    font-family: bold;
    font-size: 13px;
    margin: 0 1px;
    cursor: pointer;
    
}
.buttons button:hover {
    background-color: dodgerblue;
    color:white;
}
.contactform {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    padding: 44px;
    background-color: rgba(255, 225, 225, 0.94);
    margin:133px;
    text-align: center;
    
}
.contactform h1{
    padding:10px;
}
.contactform button{
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;

}
